.super-mario {
  width: 200px;
  position: absolute;
  z-index: 2;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 1;
  top: 450px;
  left: 150px;
}

.baloon {
  position: absolute;
  top: 150px;
  left: 235px;
  z-index: 1;
}

.speach {
  position: absolute;
  font-size: 20px;
  top: 200px;
  left: 255px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 350px;
  left: 500px;

}

